@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  font-family: "Inter", sans-serif;
  box-sizing:border-box;
  transition: all 0.2s ease-in-out;

}

html, body {
  overflow-x: hidden;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* #home1{
  background-image: url("./assets/backgroundhome1.png");
  background-size: 500px 550px; 
  background-repeat: no-repeat;
  height: fit-content; 
  background-position: right;
  padding-top: 100px;
} */

@media (max-width: 640px) {
  #home1 {
    background-size: 0px 0px; /* Sesuaikan ukuran yang lebih kecil */
    background-position: center; /* Posisikan di tengah agar tampak lebih baik di layar kecil */
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}


/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

